<!DOCTYPE html>
<html>

<head>
  <title>
    Customer Service
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="text-light">
  <nav class="navbar navbar-expand-lg navbar-dark shadowme">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#"></a> -->
      <div>
        <img src="http://images.restapi.co.za/pvt/Noroff-64.png" alt="" class="navbar-brand" id="spritespin">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </nav>
  <div class="container bg-dark">

  </div>

</body>

</html>